@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

/* Colours */
:root {
  --red: #cb8c8c;
  --orange: #cba08c;
  --yellow: #d8c196;
  --cyan: #b1d4da;
  --blue: #a1bdcd;
  --grey: #7f8e97;
  --main: #d3d7d3;
}

/* BG Colours */

.bg--red {
  background-color: var(--red);
}
.bg--orange {
  background-color: var(--orange);
}
.bg--yellow {
  background-color: var(--yellow);
}
.bg--cyan {
  background-color: var(--cyan);
}
.bg--blue {
  background-color: var(--blue);
}
.bg--grey {
  background-color: var(--grey);
}

.card--custom {
  height: 7rem;
}

.dropdownContents {
  display: flex;
}

.padlock {
  height: 25px;
  width: auto;
  padding-bottom: 3px;
  color: #7f8e97;
}

.dropdownContents p {
  padding: 0;
  margin: 0;
}

.locked {
  color: #7f8e97;
}

.unlocked {
  color: #000000;
  padding: 0;
  margin: 0;
}

.challengeStart {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.challengeMain {
  width: 100vw;
  height: 90vh;
  background-color: rgba(240, 211, 211, 0.488);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.challengeMain--Subject {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 30%;
  height: 80px;
  background-color: red;
  margin: 5px;
}

.subjectCard {
  max-height: 100px;
}

.subjectPageWrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-height: 92.125vh;
}

.subjectPage {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  width: 100%;
  min-height: 65vh;
  padding: 5rem;
  margin-bottom: 5rem;
}

.subjectPageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: justify;
  text-justify: inter-word;
}

.lead-paragraph {
  font-size: x-large;
  font-weight: 400;
}

.content {
  font-size: larger;
  font-weight: 300;
}

/* .subjectPageContent p {
  font-size: large;
} */

.subjectImage {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: 50% 50%;
  bottom: 10%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.subjectPageNav {
  border-top: 2px solid rgb(225, 225, 225);
  margin-top: 1rem;
  width: 80%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 200px;
  border: 2px solid black;
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.alertContent {
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.subjectpageToolBar {
  display: flex;
  /* background-color: red; */
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.customButton {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-color: rgb(17, 103, 233);
  color: white;
}

.customButton:hover {
  background-color: rgb(54, 122, 225);
  transition: 0.125s;
}

.wordDefinitionPage {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  padding: 0 2.5rem 2.5rem 2.5rem;
}

.wordDefinitionPage > h2,
.wordDefinitionPage > ul {
  margin: 2rem;
}

.wordDefinitionContainer {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.863);
  backdrop-filter: blur(10px);
  width: 50%;
  height: 50%;
  box-shadow: 4px 4px 10px black;
  z-index: 1;
}

.hideWordDefinition {
  display: none;
}

.wordDefinitionClose {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem;
}

.closeButton {
  width: 25px;
  height: auto;
  cursor: pointer;
}

.closeButton:hover {
  color: red;
  transition: 0.125s;
}

.graph {
  /* background-color: red; */
  padding-right: 3rem;
  margin-top: 2rem;
}

.subjectCompleteContainer {
  position: fixed;
  backdrop-filter: blur(10px);
  width: 50%;
  height: 50%;
  box-shadow: 8px 8px 20px black;
}

.subjectCompletePage {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: #d3d7d3ec;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0 2.5rem 2.5rem 2.5rem;
}

.hideSubjectCompleteContainer {
  display: none;
}

/* .customButton:active {
} */

.backButton {
  background-color: #cdaea4;
  color: black;
}

.backButton:hover {
  background-color: #c9b4ad;
}

.nextButton {
  background-color: #bcc7ae;
  color: black;
}

.nextButton:hover {
  background-color: #c3c8bd;
}

.wordButton {
  background-color: #ece5c4;
  color: black;
}

.wordButton:hover {
  background-color: #ebe8d8;
}
/* SUBJECT STEPPER */

.stepper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stepper__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.stepper__item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid black;
  width: 100%;
  top: 15px;
  left: -50%;
  z-index: 2;
}

.stepper__item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid black;
  width: 100%;
  top: 15px;
  left: -50%;
  z-index: 2;
}

.stepper__item .stepper__title {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(176, 176, 176);
}

.stepper__item.active {
  font-weight: bold;
}

.stepper__item.active > .stepper__title {
  /* background-color: rgb(229, 229, 229); */
  background-image: linear-gradient(to top left, rgb(194, 194, 194), white);
  box-shadow: 2px 2px 5px black;
}

.stepper__item.completed .stepper__title {
  background-color: rgb(74, 119, 82);
}

.stepper__item:first-child::before {
  content: none;
}
.stepper__item:first-child::after {
  content: none;
}

.stepper__title:hover {
  background-color: rgb(63, 63, 63);
  transition: 0.25s;
}
.stepper__title:active {
  background-color: rgb(200, 200, 200);
  transition: 0.25s;
}

/* --------------- */

main {
  height: 92.325vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navBar {
  /* height: 6vh; */
  display: flex;
  align-items: center;
}

.navBarLogo {
  display: flex;
  width: 40px;
  height: auto;
  margin-right: 0.5rem;
}

.navBar-container {
  /* background-color: red; */
  display: flex;
  height: 6vh;
}

.challengeOverview {
  background-image: url("./images/background-login.jpg");
  background-repeat: none;
  background-size: cover;
}

.challengeMain {
  background-color: #d3d7d3;
  height: max-content;
  min-height: 92.325vh;
}

.challengeContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 92.325vh;
  background-color: var(--main);
}

.challengeContainerVideo {
  background-color: black;
  color: white;
  min-height: 92.325vh;
}
.challengeContainerFossila {
  background-color: #e3d6d0;
  color: black;
  min-height: 94vh;
}
.challengeContainerGlaciarer {
  background-color: #e3ddd2;
  color: black;
}

.challengeContainer h1 {
  padding: 30px;
}

.contentPage {
  background-color: white;
  height: 100vh;
  width: 80%;
}

.contentPage > img {
  width: 10vw;
  height: auto;
}

.overviewContainer {
  /* background-color: #d3d6d7f1; */
  height: 80vh;
  /* padding: 5vh; */
}

.overviewHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.overviewHeader img {
  width: 5rem;
}

.overviewBox {
  /* background-color: var(--yellow); */
  height: 50vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.overviewBox > div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.overviewButton {
  display: flex;
  flex-direction: column;
  max-width: 14rem;
  height: 12rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgba(220, 220, 220, 0.909);
  transition: background-color 0.125s;
  border-style: none;

  /* border: 2px solid black; */
  /* box-shadow: 2px 2px 5px 2px rgba(172, 172, 172, 0.316); */
}

.overviewButton:hover {
  border-radius: 5px;
  background-color: #e7e7e7f7;
  transition: background-color 0.25s;
  box-shadow: 2px 2px 5px #a1bdcdcf;
}

.overviewButton:active {
  background-color: var(--yellow);
}

/* .overviewButton:focus {
    outline: 2px solid red;
  } */

/* ROW */
.overviewButton div {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;

  /* padding-top: 5px; */
}

.overviewButton img {
  max-width: auto;
  max-height: 5rem;
  padding: 5px;
}

.overviewButton h1 {
  /* border: 2px solid black; */
  width: 10rem;
  max-height: 2rem;
  overflow: visible;
  font-size: x-large;
}

body {
  background-color: #d3d7d3;
}

@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
/* Importerar ett typsnitt. */

.App {
  text-align: center;
}
/* Centrerar innehållet. */

.Title,
.Header {
  font-family: "Tenor Sans", sans-serif;
  font-size: 150%;
  color: #282c34;
}

.Title img {
  width: 100px;
  height: 100px;
  margin-top: 3rem;
}

.Header {
  background-color: white;
  text-align: left;
  padding: 1rem;
  font-size: 100%;
}

.Header h2 {
  display: inline;
  font-weight: normal;
}

.Header img {
  height: 50px;
  width: 50px;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.LogInForm {
  background-color: white;
  opacity: 88%;
  margin-top: 5rem;
  padding: 2rem;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(2px 2px 2px black);
}

.LogInForm h2 {
  margin: 0 0 1rem 0;
  padding: 0;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  margin: auto;
}

.LogInForm input {
  width: 10rem;
}

.LogInForm label {
  font-size: 90%;
  font-weight: bold;
}

.LogInForm button {
  background-color: black;
  color: white;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
}

/* VIDEO PAGE */

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*            */
.Title,
.NavBar {
  font-family: "Tenor Sans", sans-serif;
  font-size: 150%;
  color: #282c34;
  text-align: center;
}
/* Ändrar typsnittet, teckenstorleken, färgen och centrerar innehållet. */

.Title img {
  width: 100px;
  height: 100px;
  margin-top: 3rem;
}
/* Bestämmer höjd och bredd samt ger den en margin längst upp. */

.NavBar {
  text-align: left;
  padding: 1rem;
  font-size: 100%;
}
/* Placerar texten till vänster, gör texten större och ger komponenten en padding. */

.NavBar h2 {
  display: inline;
  font-weight: normal;
}
/* Ger den en inline-display och gör texten en normal tjocklek. */

.NavBar img {
  height: 50px;
  width: 50px;
}
/* Bestämmer höjd och bredd. */

.backgroundImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* Bestämmer höjd och bredd, ändrar till en absolut positionering, bestämmer var top och left samt ger den ett negativt z-index så den är bakom alla andra komponenter. */

.LogInForm {
  background-color: white;
  opacity: 88%;
  margin-top: 5rem;
  padding: 2rem;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(2px 2px 2px black);
  text-align: center;
}
/* Bestämmer bakgrundsfärg och opacitet, ger den en margin längst upp samt en padding. Centrerar elementen med "margin-left: auto;" och "margin-right: auto;" samt
  "text-align: center;". Ger den en skugga. */

.LogInForm h2 {
  margin: 0 0 1rem 0;
  padding: 0;
}
/* Tar bort margin, lägger till en margin längst ned. */

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  margin: auto;
}
/* Ändrar display till flex, grupperar flex-objekten i kolumner, sätter "align-items: flex-start;" så de positioneras till vänster, bredden blir så stor som innehållet i containern
    är. Ger den en automatisk margin så den blir centrerad. */

.LogInForm input {
  width: 10rem;
}
/* Sätter en bredd. */

.LogInForm label {
  font-size: 90%;
  font-weight: bold;
}
/* Ändrar teckenstorleken och gör texten fet. */

.LogInForm button {
  background-color: black;
  color: white;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
}
/* Ändrar bakgrundsfärgen, färgen och ger den en padding. Ger den också en border radius så den blir mer rund och en margin längst upp. Slutligen ändras muspekarens utseende. */
